body {
  font-size: 10px;
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.arrow {
  position: fixed;
  bottom: 30px;
  left: 320px;
  z-index: 200;
}

#star{
  width: 7vw;
  position: fixed;
  top: 30px;
  left: 320px;
  z-index: 200;
}

p {
  font-size: 15px;
  font-weight: 600;
}

.transparent {
  display: none;
}

/* Intro */
#IntroContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("assets/background.png");
  background-size: 375px 667px;
}

#mainLogo {
  width: 80px;
  position: relative;
  top: 20px;
  left: 20px;
}

#IntroContainer section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entry{
  position: relative;
}


#entry img {
  width: 70vw;
  position: absolute;
  top:224px;
}

#entry #logo{
  width: 100vw;
  position: absolute;
  top: 52px;
}

#entry p {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: 500px;
}

/*----------tomato1-------------*/
#tomato1{
  height: 100vh;
  background-image: url('assets/background1.png');
  background-size: 375px 667px;
  position: relative;
}

#tomato1 video{
  width: 100vw;
  position: absolute;
  top: 282px;
}



/*--------------------------------/

/*------tap page-------*/
#tapPage{
  height: 100vh;
  background-image: url('assets/gotoTab.png');
  background-size: 375px 667px;
}


/*--------------*/



/*----------tomato2-------------*/
#tomato2 {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url("assets/background3.png");
  background-size: 375px 667px;
}

#tomato2 #land {
  width: 133vw;
  position: absolute;
  top: 213px;
z-index: 20;
left: -50px;
}

#tomato2 .pinata {
  position: absolute;
}

#tomato2 #pinata1 {
  width: 50vw;
  top: 533px;
  left: -30px;
  z-index: 21;
}

#tomato2 #pinata2 {
  z-index: 21;
  top: 316px;
  width: 30vw;
  left: 241px;
}

#tomato2 #pinata3 {
  z-index: 10;
  top: 208px;
  right: 124px;
}

#tomato2 #pinata4 {
  width: 27vw;
  top: 372px;
  right: 105px;
  z-index: 21;
}

#tomato2 #pinata5 {
  width: 70vw;
  top: 424px;
  left: 187px;
  z-index: 21;
}

#tomato2 #pinata6 {
  width: 20vw;
  top: 149px;
  left: 293px;
}

#tomato2 #pinata7 {
  width: 50vw;
  top: 382px;
  left: 6px;
  z-index: 21;
}

#throwtomato{
  width: 35vw;
}

/*--------------------------------/


/*----------tomato3-------------*/
.tomatoFarm {
  background-image: url("assets/background4.png");
  background-size: 375px 667px;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tomatoFarm .pinata{
  animation: floatTomato;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  top: 40px;
}

@keyframes floatTomato {
  0%{
    transform:  translate(0,0);
  }
  50%{
    transform:  translate(0,40px);
  }
  100%{
    transform:  translate(0,0);
  }
}

form {
  position: absolute;
  bottom: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 123px;

}

.pinata {
  width: 80vw;
  z-index: 3;
}

.transparent {
  display: none;
}
form input {
  height: 5vh;
  width: 35vw;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 10px;
  background-color: transparent;
}

#tomatoBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  position: absolute;
  bottom: 186px;
  z-index: 3;
}

#tomatoBtn p{
  position: absolute;
  left: 16px;
  top: -31px;
  color: white;
  font-size: 15px;
  font-weight: 300;
}

#tomatoBtn img {
  width: 15vw;
  z-index: 3;
}

form span {
  font-size: 1.3rem;
}



#num {
  color: black;
  font-size: 13px;
  position: absolute;
  bottom: 90px;
}

#throwtomato{
  position: absolute;
  bottom: 156px;
  z-index: 1;
  
}

/*--------------------------------/



/*----------tomato4-------------*/
#tomato4 {
  background-image: url('assets/background2.png');
  background-size: 375px 667px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bubble{
  width: 45vw;
  position: absolute;
  z-index: 30;
}

#bubble1{
  top: 268px;
  left: -9px;
}
#bubble2{
  top: 20px;
  left: 207px;
}

#fin{
  position: fixed;
  bottom: 37px;
  left: 318px;
  z-index: 200;
  font-size: 20px;
  color: #ff8eca;
  
}

#tomato4 .pinata{
  width: 96vw;
  position: absolute;
  left: 6px;
  z-index: 10;
}

.heart {
  width: 75px;
  position: absolute;
  top: 115px;
  right: 162px;
  z-index: 5
}


.tomato_ul {
  /*background-color: tomato;*/
  padding: 30px 75px;
  border-radius: 50%;
}

.heart:first-child {
  animation: heartdown1 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 animation-delay: 0.5s;
 z-index: 6;
}

@keyframes heartdown1 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 486px;
    right: 239px;
    transform:rotate(260deg);
  }
}

.heart:nth-child(2) {
  animation: heartdown2 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 z-index: 7;
}

@keyframes heartdown2 {
  from {
    top: 125px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 496px;
    right: 190px;
    transform:rotate(321deg);
  }
}

.heart:nth-child(3) {
  animation: heartdown3 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 z-index: 4;
 animation-delay: 1s;
}

@keyframes heartdown3 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 676px;
    right: 135px;
    transform:rotate(320deg);

  }
}

.heart:nth-child(4) {
  animation: heartdown4 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 animation-delay: 0.7s;
}

@keyframes heartdown4 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top:500px;
    right: 80px;
    transform:rotate(-280deg);
  }
}

.heart:nth-child(5) {
  animation: heartdown5 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
}

@keyframes heartdown5 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 439px;
    right: 173px;
    transform:rotate(-320deg);
  }
}

.heart:nth-child(6) {
  z-index: 3;
  animation: heartdown6 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 animation-delay: 0.5s;
}

@keyframes heartdown6 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 489px;
    right: 139px;
    transform:rotate(-330deg);
  }
}

.heart:nth-child(7) {
  animation: heartdown7 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 animation-delay: 1s;
}

@keyframes heartdown7 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 450px;
    right: 91px;
    transform:rotate(240deg);
  }
}

.heart:nth-child(8) {
  z-index: -1;
  animation: heartdown8 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
}

@keyframes heartdown8 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 705px;
    right: 180px;
    transform:rotate(-230deg);
  }
}

.heart:nth-child(9) {
  animation: heartdown9 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 animation-delay: 1.3s;
}

@keyframes heartdown9 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 432px;
    right: 119px;
    transform:rotate(-300deg);
  }
}

.heart:last-child {
  animation: heartdown10 forwards;
  animation-duration: 2s;
  animation-timing-function: ease-in;
 animation-iteration-count: 1;
 animation-delay: 0.2s;
}


@keyframes heartdown10 {
  from {
    top: 115px;
    right: 162px;
    transform:rotate(0deg);
  }
  to {
    top: 428px;
    right: 216px;
    transform:rotate(270deg);
  }
}

#messege{
  width: 100vw;
  position: absolute;
  z-index: 100;
}

#xBtn{
  width: 7vw;
  position: absolute;
  top: 30px;
  left: 320px;
  z-index: 200;
}

ul {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
  /*color: white;*/
  margin-bottom: -20px;
}

ul li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

ul li:before {
  content: '';
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  background-image: url('assets/tomato1.png');
  background-size: 375px 667px;
  background-repeat: no-repeat;
  margin-left: -35px;
}


#field{
  width: 120vw;
  position: absolute;
  bottom: -118px;
  z-index:1;
  left: -34px;
}


/*--------------------------------/

/*아래 페이지*/

/*Congrat*/
#congratContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#congratContainer img {
  width: 100vw;
}

#congratContainer p {
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
  margin-bottom: 0px;
}
